
.hero-content{
    position: relative;
    height: 100vh;
    background-image: url(../picture/oboi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.hero-content__list{
    display: flex;
    flex-direction: column;

    width: 119px;
    gap: 12px;
}

.hero-content__item{
    display: flex;
    align-items: center;
    justify-content: center;


    width: 114px;
    height: 40px;
    padding: 8px 3px;

    border-radius: 100px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.20), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    background-color: var(--primary-dark);

    &--right-position-general{
        position: fixed;
        top: 50px;
        right: 38px;
    }

    &--right-position-layout{
        position: fixed;
        top: 102px;
        right: 38px;
    }


}

.hero-content__link{
    text-align: center;

    width: 114px;
    height: 40px;
    padding: 8px 10px;

    color: var(--background-color);
}