.table-js{
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 5px;

    background-color: var(--background-color-table-js);
    
    &--1{
        width: 163px;
    }

    &--2{
        width: 148px;
    }
    
    &--3{
        width: 164px;
    }

    &--3-1{
        width: 589px;
    }

    &--4{
        width: 373px;
    }

    &--5{
        width: 442px;
    }

    &--6{
        width: 560px;
    }

    &--6-1{
        width: 177px;
    }

    &--7{
        width: 615px;
    }

    &--8{
        width: 464px;
    }

    &--9{
        width: 412px;
    }

    &--9-1{
        width: 317px;
    }

    &--10{
        width: 585px;
    }
    
    &--10-1{
        width: 317px;
    }
}
