.title{
    @include font($fs: 24px, $fw: 400);
    line-height: 133.4%; /* 32.016px */

}

.tusk-block__title{
    display: inline-flex;
    margin-top: 10px;

    width: 120px;
    height: 29px;


    @include font($fs: 20px, $fw: 400);
    line-height: 143%; /* 28.6px */
    letter-spacing: 0.17px;


}





